body {
    width: 100%;
    height: 100%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .fullscreen-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  #all-pages10 {
    position: relative;
    top: 0;
    transition: all 800ms ease;
    /* height set by js */
  }
  .page {
    height: 100%;
    width: 100%;
  }
  #all-pages10 .page:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.4)),
    
      url("https://previews.123rf.com/images/rawpixel/rawpixel1506/rawpixel150616001/41467513-%EC%A0%84%EC%9E%90-%EC%83%81%EA%B1%B0%EB%9E%98-%EC%98%A8%EB%9D%BC%EC%9D%B8-%EB%84%A4%ED%8A%B8%EC%9B%8C%ED%82%B9-%EA%B8%B0%EC%88%A0-%EB%A7%88%EC%BC%80%ED%8C%85-%EC%83%81%EA%B1%B0%EB%9E%98-%EA%B0%9C%EB%85%90.jpg") center / cover;
  }
  #all-pages10 .page:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://www.ionos.com/digitalguide/fileadmin/DigitalGuide/Teaser/ebusiness.jpg")
        center / cover;
  }
  #all-pages10 .page:nth-child(3) {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 254, 254)),
    url("../../images/journalism4.jpg")
        center / cover;
  }
  #all-pages10 .page:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://media.istockphoto.com/photos/ebusiness-ecommerce-global-business-marketing-concept-picture-id480005284")
        center / cover;
  }
  .text-container {
    font-family: sans-serif, helvetica, arial;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    margin: 0 40px;
    opacity: 0;
    visibility: visible;
    transform: translateY(-50%);
    transition: all 3s ease;
  }
  .text-container.in-sight {
    opacity: 1;
    visibility: visible;
  }
  
  @media only screen and (max-width: 400px) {
    .col-lg-3{
      font-size:1.4vh
    }
  }
  .text-container h2 {
    font-size: 6vh;
    text-transform: uppercase;
  }
  .text-container p {
    font-size: 2vh;
    padding: 1em 0;
  }
  .nav-dot-container {
    position: fixed;
    top: 50%;
    right: 20px;
   
    
    transform: translateY(-50%);
  }
  .nav-dot {
    width: 20px;
    height: 30px;
    padding: 20px 0px;
    margin: auto;
  }
  .nav-dot span{
    display: block;
    /* border:1px solid blue; */
  
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(255, 10, 10);
    transition: all 200ms ease;
    margin: auto;
    
  }
  .nav-dot span:hover {
    width: 12px;
    height: 12px;
    
  
  }
  .nav-dot.dot-active span {
    width: 15px;
  
    height: 15px;
  }
  